# Redirect http to https
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Remove file extensions
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [L]

# Redirect to www
RewriteCond %{HTTP_HOST} ^insurancebhaiya.com [NC]
RewriteRule ^(.*)$ https://www.insurancebhaiya.com/$1 [L,R=301]

# Set index page to domain name
DirectoryIndex /