$white:    #fff;
$black:    #000;

// Gray
$gray-light-90: #f2f2f2;
$gray-light-80: #e6e6e6;
$gray-light-70: #d9d9d9;
$gray-light-60: #cccccc;
$gray-light-50: #c0c0c0;
$gray-light-40: #b3b3b3;
$gray-light-30: #a6a6a6;
$gray-light-20: #999999;
$gray-light-10: #8d8d8d;
$gray: #808080;
$gray-dark-10: #737373;
$gray-dark-20: #666666;
$gray-dark-30: #5a5a5a;
$gray-dark-40: #4d4d4d;
$gray-dark-50: #404040;
$gray-dark-60: #333333;
$gray-dark-70: #262626;
$gray-dark-80: #1a1a1a;
$gray-dark-90: #0d0d0d;

// Blue 
$blue-light-90: #ecf3fe;
$blue-light-80: #d9e7fd;
$blue-light-70: #c6dafc;
$blue-light-60: #b3cefb;
$blue-light-50: #a1c2fa;
$blue-light-40: #8eb6f8;
$blue-light-30: #7baaf7;
$blue-light-20: #689df6;
$blue-light-10: #5591f5;
$blue: #4285f4;
$blue-dark-10: #3b78dc;
$blue-dark-20: #356ac3;
$blue-dark-30: #2e5dab;
$blue-dark-40: #285092;
$blue-dark-50: #21437a;
$blue-dark-60: #1a3562;
$blue-dark-70: #142849;
$blue-dark-80: #0d1b31;
$blue-dark-90: #070d18;

// Red 
$red-light-90: #fbeceb;
$red-light-80: #f8dad7;
$red-light-70: #f4c7c3;
$red-light-60: #f1b4af;
$red-light-50: #eda29b;
$red-light-40: #e98f87;
$red-light-30: #e67c73;
$red-light-20: #e2695f;
$red-light-10: #df574b;
$red: #db4437;
$red-dark-10: #c53d32;
$red-dark-20: #af362c;
$red-dark-30: #993027;
$red-dark-40: #832921;
$red-dark-50: #6e221c;
$red-dark-60: #581b16;
$red-dark-70: #421410;
$red-dark-80: #2c0e0b;
$red-dark-90: #160705;

// Green 
$green-light-90: #e7f5ee;
$green-light-80: #cfebde;
$green-light-70: #b7e2cd;
$green-light-60: #9fd8bc;
$green-light-50: #87ceac;
$green-light-40: #6fc49b;
$green-light-30: #57ba8a;
$green-light-20: #3fb179;
$green-light-10: #27a769;
$green: #0f9d58;
$green-dark-10: #0e8d4f;
$green-dark-20: #0c7e46;
$green-dark-30: #0b6e3e;
$green-dark-40: #095e35;
$green-dark-50: #084f2c;
$green-dark-60: #063f23;
$green-dark-70: #042f1a;
$green-dark-80: #031f12;
$green-dark-90: #011009;

// Yellow 
$yellow-light-90: #fef8e6;
$yellow-light-80: #fdf0cc;
$yellow-light-70: #fce9b3;
$yellow-light-60: #fbe199;
$yellow-light-50: #fada80;
$yellow-light-40: #f8d266;
$yellow-light-30: #f7cb4d;
$yellow-light-20: #f6c333;
$yellow-light-10: #f5bc1a;
$yellow: #f4b400;
$yellow-dark-10: #dca200;
$yellow-dark-20: #c39000;
$yellow-dark-30: #ab7e00;
$yellow-dark-40: #926c00;
$yellow-dark-50: #7a5a00;
$yellow-dark-60: #624800;
$yellow-dark-70: #493600;
$yellow-dark-80: #312400;
$yellow-dark-90: #181200;

// Box Shadows
$box-shadow: 0 .5rem 1rem rgba($black, .15);
$box-shadow-sm: 0 .125rem .25rem rgba($black, .075);
$box-shadow-lg: 0 1rem 3rem rgba($black, .175);
$box-shadow-inset: inset 0 1px 2px rgba($black, .075);

// Font Heading Sizes
$font-sizes: (
    h1: 3.75rem,
    h2: 3.25rem,
    h3: 2.75rem,
    h4: 2.25rem,
    h5: 1.75rem,
    h6: 1.25rem,
);