@import "base";
body {
    header {
        grid-area: header;
        height: 100vh;
        display: grid;
        place-items: center;
        padding: 0 50px;
        background: $theme-bg;
        .hero {
            padding: 100px 0;
            max-width: 1250px;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-height: 75vh;
            .hero-content {
                color: $blue-dark-80;
                height: 100%;
                max-width: 700px;
                .logo {
                    height: auto;
                    img {
                        cursor: pointer;
                        aspect-ratio: attr(height) / attr(width);
                    }
                }
                .content-box {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    .title-text {
                        width: 100%;
                        font-size: 6rem;
                        font-family: poppins, sans-serif;
                        font-weight: 800;
                    }
                    .subtext {
                        font-size: 24px;
                        color: rgba(0, 0, 0, 0.85);
                        line-height: 34px;
                        font-family: roboto, sans-serif;
                    }
                    .hero-footer-btn {
                        display: flex;
                        column-gap: 24px;
                        margin-right: auto;
                        align-items: center;
                        margin-top: 40px;
                        a, p {
                            font-size: 16px;
                            text-decoration: none;
                        }
                        .hero-btn {
                            padding: 12px 24px;
                            background-color: $blue;
                            margin-right: auto;
                            border-radius: 30px;
                            color: $white;
                            font-weight: 500;
                            letter-spacing: 2px;
                            font-size: 14px;
                            font-family: poppins, sans-serif;
                            transition: all 0.15s ease-in-out;
                        }
                        .hero-btn:hover {
                            background-color: $blue-dark-10;
                            color: white;
                        }
                        .hero-link {
                            color: $blue-light-10;
                            transition: all 0.15s ease-in-out;
                        }
                        .hero-link:hover {
                            color: $blue-light-20;
                        }
                    }
                }
            }
            .hero-image {
                overflow: hidden;
                img {
                    mix-blend-mode: multiply;
                    aspect-ratio: attr(width) / attr(height);
                }
            }
        }
    }
    main {
        grid-area: main;
        padding: 100px 0;
        background-color: white;
        .box {
            padding: 25px;
            max-width: 900px;
            margin: 0 auto;
            img {
                mix-blend-mode: multiply;
            }
            .img-fr {
                float: right;
                max-height: 200px;
                width: auto;
            }
            .img-fl {
                float: left;
                max-height: 200px;
                width: auto;
            }
            h5 {
                font-size: 1.75rem;
                line-height: 2.625rem;
                margin-bottom: 1rem;
                color: rgba(0, 0, 0, 0.8);
                font-weight: 600;
                font-family: poppins, sans-serif;
            }
            p {
                text-align: start;
                font-size: 18px;
                line-height: 1.8;
            }
        }
        .container {
            display: flex;
            flex-direction: column;
            row-gap: 50px;
            max-width: 900px;
            margin: 0 auto;
            .c-header {
                grid-area: cheader;
                color: rgba(0, 0, 0, 0.85);
                h3 {
                    font-size: 24px;
                    font-weight: 700;
                    text-align: center;
                    font-family: poppins, sans-serif;
                }
            }
            .insurance-types-container-box {
                grid-area: types;
                display: flex;
                justify-content: space-between;
                column-gap: 50px;
                padding: 0 25px;
                .right-box {
                    grid-area: rightbox;
                    padding-top: 150px;
                }
                .left-box {
                    grid-area: leftbox;
                }
                .right-box, .left-box {
                    display: flex;
                    flex-direction: column;
                    row-gap: 50px;
                    max-width: 400px;
                    .google-ad {
                        text-align: center;
                        margin: 0 auto;
                    }
                }
                .insurance-card {
                    border-radius: 12px;
                    overflow: hidden;
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
                    transition: all 0.25s ease-in-out;
                    .card-top-border {
                        padding: 4px 0;
                    }
                    .border-blue {background: $blue;}
                    .border-red {background: $red;}
                    .border-green {background: $green;}
                    .border-yellow {background: $yellow;}
                    .border-orange {background: $gray;}
                    .border-purple {background: $blue-light-50;}
                    .content {
                        padding: 20px 20px 25px 25px;
                        transition: all 0.25s ease-in-out;
                        .thumbnail {
                            display: flex;
                            justify-content: flex-end;
                            height: 120px;
                            width: 100%;
                            img {
                                height: 100%;
                                width: auto;
                            }
                        }
                        h2 {
                            font-size: 32px;
                            font-weight: 400;
                            color: #111;
                            margin-bottom: 16px;
                            font-family: poppins, sans-serif;
                        }
                        p {
                            font-size: 16px;
                            line-height: 24px;
                            text-align: start;
                            color: #222;
                            margin-bottom: 25px;
                        }
                        .sub-insurance {
                            display: grid;
                            grid-template-columns: 1fr 1fr 1fr;
                            gap: 10px;
                            margin-bottom: 25px;
                            .si-box {
                                border: 1px solid $blue-light-80;
                                cursor: pointer;
                                aspect-ratio: 1/1;
                                border-radius: 8px;
                                display: grid;
                                padding: 6px;
                                place-items: center;
                                background-color: $blue-light-90;
                                transition: all 0.25s ease-in-out;
                                span {
                                    text-align: center;
                                    color: $gray-dark-70;
                                    font-size: 14px;
                                    line-height: 18px;
                                    transition: all 0.25s ease-in-out;
                                }
                            }
                            .si-box:hover {
                                background-color: $text-blue;
                                transform: translateY(-5px);
                                box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
                                span {
                                    color: white;
                                }
                            }
                        }
                        a.to-article-btn {
                            display: inline-flex;
                            align-items: center;
                            padding: 8px 16px;
                            font-size:14px;
                            letter-spacing: 1px;
                            line-height: 18px;
                            font-weight: 400;
                            background-color: $text-blue;
                            text-decoration: none;
                            color: $white;
                            border-radius: 100px;
                            transition: all 0.25s ease-in-out;
                            span.icon {
                                font-size: 0;
                                transition: all 0.2s ease-in-out;
                            }
                        }
                        a.to-article-btn:hover {
                            background-color: $blue-dark-20;
                        }
                    }
                }
                .insurance-card:hover {
                    transform: translateY(-10px);
                    a.to-article-btn {
                        span.icon {
                            font-size: 1rem;
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    body {
        header {
            padding: 30px 0;
            height: 100vh;
            display: block;
            .hero {
                height: 100vh;
                max-height: 100vh;
                margin: 0;
                padding: 0 20px;
                display: block;
                width: 100%;
                .hero-content {
                    height: 100%;
                    text-align: center;
                    .content-box {
                        padding-top: 100px;
                        margin: auto;
                        height: 100%;
                        .title-text {
                            font-size: 18vw;
                            margin-bottom: 25px;
                        }
                        .subtext {
                            font-size: 18px;
                            line-height: 28px;
                        }
                        .hero-footer-btn {
                            flex-direction: column;
                            margin: auto;
                            justify-content: center;
                            .hero-btn {
                                margin: auto;
                                margin-bottom: 20px;
                            }
                        }
                    }
                }
                .hero-image {
                    display: none;
                }
            }
        }
        main {
            margin-bottom: 50px;
            padding: 50px 0;
            border-radius: 0;
            .container {
                grid-template-columns: 1fr;
                grid-template-areas: 'ad_top' 'cheader' 'leftbox' 'ad_bottom' 'rightbox';
                column-gap: 0;
                padding: 0 0;
                .c-header {
                    width: 100%;
                    top: 0;
                    margin-bottom: 0;
                    h3 {
                        font-size: 1.5rem;
                        text-align: center;
                    }
                }
                .insurance-types-container-box {
                    flex-direction: column;
                    align-items: center;
                    margin-bottom: 0;
                    padding: 0 20px;
                    .right-box {
                        padding-top: 50px;
                    }
                }
                .right-box {
                    padding-top: 0;
                }
                .right-box, .left-box {
                    row-gap: 75px;
                }
                .insurance-card {
                    .content {
                        padding: 20px 20px 30px 25px;
                        h2 {
                            font-size: 2.4rem;
                            margin-bottom: 20px;
                        }
                        p {
                            font-size: 1.1rem;
                            line-height: 1.8rem;
                            margin-bottom: 25px;
                        }
                        .sub-insurance {
                            gap: 10px;
                            margin-bottom: 25px;
                            .si-box {
                                span {
                                    font-size: 0.75rem;
                                }
                            }
                        }
                        a.to-article-btn {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
}