@import "base";
body {
    display: grid;
    grid-template-columns: 1fr 25%;
    grid-template-areas: 'header header'
                                        'main article'
                                        'footer footer';
    .google-ad {
        width: 100%;
        height: auto;
        background-color: $gray-light-90;
    }
    header {
        grid-area: header;
        display: flex;
        justify-content: center;
        padding: 20px;
        background-color: white;
        .logo {
            display: flex;
            align-items: center;
            column-gap: 8px;
            height: 20px;
            img {
                height: 20px;
                cursor: pointer;
                aspect-ratio: attr(height) / attr(width);
            }
        }
    }
    main {
        grid-area: main;
        margin-bottom: 100px;
        .main-header {
            padding: 100px;
            height: calc(100vh - 50px);
            display: flex;
            flex-direction: column;
            justify-content: center;
            h1 {
                font-size: 5vw;
                font-weight: 400;
                line-height: 5vw;
                color: #161a20;
                font-family: poppins, sans-serif;
            }
            p {
                width: 75%;
                font-size: 1rem;
                line-height: 1.8rem;
                color: #363739;
                margin: 25px 0 50px 0;
            }
            a {
                display: inline-flex;
                align-items: center;
                text-decoration: none;
                margin-right: auto;
                border-radius: 5px;
                color: rgb(255, 255, 255);
                transition: all 0.25s ease-in-out;
                padding: 8px 12px;
                border-radius: 50px;
                background-color: $red-light-10;
                transition: all 0.25s ease-in-out;
                i.bi {
                    font-size: 0;
                    transition: all 0.2s ease-in-out;
                }
            }
            a:hover {
                background-color: $red-dark-30;
                color: rgb(255, 255, 255);
                i.bi {
                    font-size: 1rem;
                    margin-left: 10px;
                }
            }
        }
        .container {
            display: grid;
            grid-template-columns: calc(50% - 25px) calc(50% - 25px);
            grid-template-areas: 'ad_top ad_top'
                                                'cheader cheader'
                                                'leftbox rightbox'
                                                'ad_bottom ad_bottom';
            column-gap: 50px;
            row-gap: 25px;
            padding: 0 100px;
            margin-bottom: 50px;
            .ad-container-top {
                grid-area: ad_top;
                margin-bottom: 50px;
                .google-ad {
                    margin: 0 auto;
                    text-align: center;
                }
            }
            .c-header {
                grid-area: cheader;
                color: $gray-dark-50;
                margin-bottom: 25px;
                h3 {
                    font-size: 24px;
                    font-weight: 700;
                    text-align: center;
                    font-family: poppins, sans-serif;
                }
            }
            .right-box {
                grid-area: rightbox;
                padding-top: 150px;
            }
            .left-box {
                grid-area: leftbox;
            }
            .right-box, .left-box {
                display: flex;
                flex-direction: column;
                // justify-content: center;
                row-gap: 50px;
                max-width: 400px;
                .google-ad {
                    text-align: center;
                    margin: 0 auto;
                }
            }
            .insurance-card {
                border-radius: 12px;
                overflow: hidden;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
                transition: all 0.25s ease-in-out;
                .card-top-border {
                    padding: 4px 0;
                }
                .border-blue {background: $blue;}
                .border-red {background: $red;}
                .border-green {background: $green;}
                .border-yellow {background: $yellow;}
                .border-orange {background: $gray;}
                .border-purple {background: $blue-light-50;}
                .content {
                    padding: 20px 20px 25px 25px;
                    transition: all 0.25s ease-in-out;
                    .thumbnail {
                        display: flex;
                        justify-content: flex-end;
                        height: 120px;
                        width: 100%;
                        img {
                            height: 100%;
                            width: auto;
                        }
                    }
                    h2 {
                        font-size: 32px;
                        font-weight: 400;
                        color: #111;
                        margin-bottom: 16px;
                        font-family: poppins, sans-serif;
                    }
                    p {
                        font-size: 16px;
                        line-height: 24px;
                        text-align: start;
                        color: #222;
                        margin-bottom: 25px;
                    }
                    .sub-insurance {
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        gap: 10px;
                        margin-bottom: 25px;
                        .si-box {
                            border: 1px solid $blue-light-80;
                            cursor: pointer;
                            aspect-ratio: 1/1;
                            border-radius: 8px;
                            display: grid;
                            padding: 6px;
                            place-items: center;
                            background-color: $blue-light-90;
                            transition: all 0.25s ease-in-out;
                            span {
                                text-align: center;
                                color: $gray-dark-70;
                                font-size: 14px;
                                line-height: 18px;
                                transition: all 0.25s ease-in-out;
                            }
                        }
                        .si-box:hover {
                            background-color: $blue;
                            transform: translateY(-5px);
                            box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
                            span {
                                color: white;
                            }
                        }
                    }
                    a.to-article-btn {
                        display: inline-flex;
                        align-items: center;
                        padding: 8px 16px;
                        font-size:14px;
                        letter-spacing: 1px;
                        line-height: 18px;
                        font-weight: 400;
                        background-color: $blue;
                        text-decoration: none;
                        color: $white;
                        border-radius: 100px;
                        transition: all 0.25s ease-in-out;
                        i.bi {
                            font-size: 0;
                            transition: all 0.2s ease-in-out;
                        }
                    }
                    a.to-article-btn:hover {
                        background-color: $blue-dark-20;
                    }
                }
            }
            .insurance-card:hover {
                transform: translateY(-10px);
                a.to-article-btn {
                    i.bi {
                        font-size: 1rem;
                        margin-left: 10px;
                    }
                }
            }
            .ad-container-bottom {
                grid-area: ad_bottom;
                margin-top: 50px;
                .google-ad {
                    margin: 0 auto;
                    text-align: center;
                }
            }
        }
        .asfdFf2a {
            position: absolute;
            top: 100px;
            right: 25%;
            opacity: .5;
            z-index: -5;
            aspect-ratio: attr(height) / attr(width);
        }
    }
    article {
        grid-area: article;
        height: 100%;
        padding: 50px 25px 150px 0;
        .a-header {
            p {
                font-size: 1rem;
                color: $gray-dark-50;
                margin-bottom: 25px;
            }
            ul {
                list-style:circle;
                padding-left: 20px;
                li {
                    margin-bottom: 24px;
                    a {
                        text-decoration: none;
                        color: $gray-dark-80;
                        font-size: 1rem;
                        transition: all 0.25s ease-out;
                    }
                    a:hover {
                        color: $blue;
                    }
                }
            }
        }
        .ad-container {
            position: sticky;
            top: 20px;
            .google-ad {
                width: 100%;
                text-align: center;
                margin: 0 auto;
                margin-top: 50px;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    body {
        grid-template-columns: 1fr;
        grid-template-areas: 'header' 'main' 'article' 'footer';
        header {
            padding: 25px 10px;
            .logo {
                height: 24px;
                img {
                    height: 24px;
                }
            }
        }
        main {
            margin-bottom: 50px;
            .main-header {
                padding: 0 25px;
                text-align: center;
                height: calc(100vh - 120px);
                margin-bottom: 75px;
                h1 {
                    font-size: 2rem;
                    line-height: 2rem;
                    font-weight: 500;
                    margin-bottom: 12px;
                }
                p {
                    width: 100%;
                    font-size: 1rem;
                    line-height: 1.6rem;
                }
                a {
                    font-size: 1rem;
                    padding: 8px 16px;
                }
            }
            .container {
                grid-template-columns: 1fr;
                grid-template-areas: 'ad_top' 'cheader' 'leftbox' 'ad_bottom' 'rightbox';
                row-gap: 25px;
                column-gap: 0;
                padding: 0 25px;
                .c-header {
                    width: 100%;
                    top: 0;
                    margin-bottom: 0;
                    h3 {
                        font-size: 1.5rem;
                        text-align: start;
                    }
                }
                .right-box {
                    padding-top: 50px;
                }
                .right-box, .left-box {
                    row-gap: 75px;
                }
                .insurance-card {
                    .content {
                        padding: 20px 20px 30px 25px;
                        h2 {
                            font-size: 2.4rem;
                            margin-bottom: 20px;
                        }
                        p {
                            font-size: 1.1rem;
                            line-height: 1.8rem;
                            margin-bottom: 25px;
                        }
                        .sub-insurance {
                            gap: 10px;
                            margin-bottom: 25px;
                            .si-box {
                                span {
                                    font-size: 0.75rem;
                                }
                            }
                        }
                        a.to-article-btn {
                            font-size: 1rem;
                        }
                    }
                }
            }
            .asfdFf2a {
                top: auto;
                bottom: -30px;
                left: 0px;
            }
        }
        article {
            padding: 0 25px;
            margin-bottom: 50px;
            .a-header {
                position: static;
            }
            .ad-container {
                display: none;
            }
        }
    }
}