@import "_base";
body {
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-areas: 'header header'
                                        'article_left main'
                                        'footer footer';
    background-color: $theme-bg;
    .nav-url-box {
        height: 0;
        width: 0;
    }
    header#bH {
        grid-area: header;
        display: flex;
        justify-content: space-between;
        padding: 20px;
        width: 100%;
        .logo {
            display: flex;
            align-items: center;
            column-gap: 8px;
            height: 20px;
            img {
                height: 20px;
                cursor: pointer;
            }
        }
        .social-feeds {
            display: inline-flex;
            column-gap: 12px;
            a, button {
                display: grid;
                place-items: center;
                height: 32px;
                width: 32px;
                border-radius: 25px;
                text-decoration: none;
                color: $blue-dark-90;
                background: $theme-bg-dark;
                box-shadow: none;
                outline: none;
                border: none;
                transition: all 0.25s ease-in-out;
            }
            a:hover, button:hover, button:focus {
                background-color: $blue;
                outline: none;
                color: $white;
            }
        }
    }
    article#bAl {
        grid-area: article_left;
        padding: 0 20px;
        .top-insurance-container {
            // position: sticky;
            // top: 20px;
            padding-bottom: 50px;
            h6.label-title {
                font-size: 14px;
                letter-spacing: 2px;
                color: rgba(0, 0, 0, 0.75);
                text-align: center;
            }
            .top-insurance {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 20px;
                .card {
                    border-radius: 16px 4px 16px 4px;
                    padding: 16px 8px;
                    background: white;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    text-align: center;
                    box-shadow: rgba(106, 152, 185, 0.2) 0px 2px 8px 0px;
                    transition: all 0.25s ease-in-out;
                    h6 {
                        font-size: 16px;
                        width: 100%;
                        letter-spacing: 1px;
                        font-weight: 500;
                        color: rgba(0, 0, 0, 0.85);
                        font-family: poppins, sans-serif;
                    }
                    img {
                        mix-blend-mode: multiply;
                    }
                }
                .card:hover {
                    background: $theme-bg;
                }
            }
        }
        .ad-box {
            position: sticky;
            top: 0;
            padding: 24px 0;
            margin-bottom: 100px;
        }
    }
    main#bM {
        grid-area: main;
        background-color: $white;
        border-radius: 20px 0 0 0;
        hr {
            border: 0;
            height: 1px;
            background-color: $gray-light-50;
        }
        section.article-content {
            grid-area: article_content;
            padding: 0; 
            font-size: 18px;
            line-height: 1.8;
            margin: 0 auto;
            padding-bottom: 50px;
            .search-container {
                max-width: 850px;
                padding: 20px 50px;
                margin-bottom: 30px;
                margin-top: 30px;
                position: sticky;
                top: 0;
                background: white;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-left: auto;
                margin-right: auto;
                z-index: 1000;
                .search-box {
                    display: flex;
                    align-items: center;
                    column-gap: 12px;
                    width: 100%;
                    max-width: 500px;
                    input, button {
                        outline: none;
                        border: none;
                        background: $theme-bg;
                        border: 1px solid $theme-bg-darker;
                        display: flex;
                        align-items: center;
                        transition: all 0.25s ease-in-out;
                    }
                    input {
                        padding: 8px 12px;
                        font-size: 16px;
                        min-width: 200px;
                        width: 100%;
                        border-radius: 4px;
                    }
                    button {
                        padding: 10px;
                        border-radius: 50px;
                        height: 100%;
                        cursor: pointer;
                    }
                    input:hover, input:focus, button:hover {
                        background-color: $theme-bg-dark;
                    }
                }
                .search-results-box {
                    padding: 0 8px;
                    position: absolute;
                    transform: translateY(50px);
                    z-index: 1000;
                    width: 100%;
                    max-width: 500px;
                    border-radius: 8px;
                    overflow: hidden;
                    background-color: #f2f6fcd3;
                    backdrop-filter: blur(12px);
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
                    .results-box {
                        margin: 0;
                        max-height: 300px;
                        list-style: none;
                        overflow-y: scroll;
                        padding-right: 8px;
                        li {
                            width: 100%;
                            a {
                                color: rgba(0, 0, 0, 0.85);
                                text-decoration: none;
                                font-size: 16px;
                                padding: 4px 12px;
                                width: 100%;
                                border-radius: 4px;
                                display:block;
                                font-family: roboto, sans-serif;
                            }
                            a:hover {
                                background: $theme-bg-dark;
                            }
                        }
                        li:first-child {
                            margin-top: 8px;
                        }
                        li:last-child {
                            margin-bottom: 8px;
                        }
                    }
                }
            }
            .results-count {
                margin-bottom: 16px;
                h6 {
                    font-size: 16px;
                    color: $gray;
                    font-family: roboto, sans-serif;
                    font-weight: 400;
                    span {
                        color: rgba(0, 0, 0, 0.85);
                    }
                }
            }
            .results-container {
                display: flex;
                flex-direction: column;
                row-gap: 50px;
                margin-bottom: 50px;
                .box {
                    margin-left: auto;
                    margin-right: auto;
                    width: 100%;
                    max-width: 850px;
                    .result-card {
                        display: flex;
                        align-items: center;
                        column-gap: 16px;
                        width: 100%;
                        padding: 24px;
                        border-radius: 12px;
                        text-decoration: none;
                        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
                        color: rgba(0, 0, 0, 0.85);
                        transition: all 0.25s ease-in-out;
                        .thumbnail {
                            max-width: 180px;
                            img {
                                width: 100%;
                                height: auto;
                                mix-blend-mode: multiply;
                            }
                        }
                        .card-text {
                            display: flex;
                            flex-direction: column;
                            row-gap: 12px;
                            color: rgba(0, 0, 0, 0.85);
                            h2 {
                                font-family: poppins, sans-serif;
                                font-size: 28px;
                                font-weight: 400;
                            }
                            p {
                                font-size: 14px;
                                line-height: 1.4;
                            }
                            .keywords {
                                display: flex;
                                flex-wrap: wrap;
                                gap: 8px;
                                list-style: none;
                                li {
                                    color: black;
                                    background: $theme-bg-dark;
                                    font-size: 14px;
                                    padding: 2px 8px;
                                    border-radius: 20px;
                                }
                            }
                        }
                    }
                    .result-card:hover {
                        background: $theme-bg;
                    }
                }
            }
            .box {
                max-width: 850px;
                padding: 0 50px 0 50px;
                margin-left: auto;
                margin-right: auto;
            }
            .recommendation {
                z-index: 10;
                .c-header {
                    margin-bottom: 25px;
                    h6 {
                        color: $text-blue;
                        font-size: 12px;
                        letter-spacing: 2px;
                        font-weight: bold;
                        font-family: roboto, sans-serif;
                    }
                }
                .container-cards {
                    .insurance-card {
                        display: grid;
                        border-radius: 12px;
                        grid-template-columns: 8px 55% auto;
                        grid-template-areas: 'card_border content thumbnail';
                        overflow: hidden;
                        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
                        transition: all 0.25s ease-in-out;
                        .card-top-border {
                            grid-area: card_border;
                            padding: 0 4px;
                            background-color: $red;
                        }
                        .content {
                            grid-area: content;
                            padding: 20px 0 25px 20px;
                            transition: all 0.25s ease-in-out;
                            z-index: 1;
                            h2 {
                                font-size: 32px;
                                font-weight: 400;
                                color: #111;
                                margin-bottom: 16px;
                                font-family: poppins, sans-serif;
                            }
                            p {
                                font-size: 16px;
                                line-height: 24px;
                                text-align: start;
                                color: #222;
                                margin-bottom: 25px;
                            }
                            .sub-insurance {
                                display: grid;
                                grid-template-columns: 100px 100px 100px;
                                gap: 10px;
                                margin-bottom: 25px;
                                .si-box {
                                    border: 1px solid $theme-bg-dark;
                                    min-width: 80px;
                                    width: auto;
                                    max-width: 100px;
                                    cursor: pointer;
                                    border-radius: 8px;
                                    display: grid;
                                    padding: 18px 6px;
                                    place-items: center;
                                    background-color: $theme-bg;
                                    transition: all 0.25s ease-in-out;
                                    span {
                                        text-align: center;
                                        color: $gray-dark-70;
                                        font-size: 14px;
                                        line-height: 18px;
                                        transition: all 0.25s ease-in-out;
                                    }
                                }
                                .si-box:hover {
                                    background-color: $text-blue;
                                    transform: translateY(-5px);
                                    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
                                    span {
                                        color: white;
                                    }
                                }
                            }
                            a.to-article-btn {
                                display: inline-flex;
                                align-items: center;
                                padding: 8px 16px;
                                font-size:14px;
                                letter-spacing: 1px;
                                line-height: 18px;
                                font-weight: 400;
                                background-color: $text-blue;
                                text-decoration: none;
                                color: $white;
                                border-radius: 100px;
                                transition: all 0.25s ease-in-out;
                                span.icon {
                                    font-size: 0;
                                    transition: all 0.2s ease-in-out;
                                }
                            }
                            a.to-article-btn:hover {
                                background-color: $blue-dark-30;
                            }
                        }
                        .thumbnail {
                            grid-area: thumbnail;
                            display: grid;
                            place-items: center;
                            height: 100%;
                            object-fit: contain;
                            img {
                                max-width: 250px;
                                height: auto;
                            }
                        }
                    }
                    .insurance-card:hover {
                        transform: translateY(-10px);
                        a.to-article-btn {
                            span.icon {
                                font-size: 1rem;
                                margin-left: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
    section#absolute_assets {
        .share-menu{
            z-index:999;
            position:fixed;
            padding:0;
            margin:0;
            list-style-type:none;
            .share {
                label {
                    padding: 12px 16px;
                    text-align:center;
                    user-select: none;
                    cursor: pointer;
                    letter-spacing: 2px;
                    font-family: poppins, sans-serif;
                    line-height:50px;
                    background-color: $theme-bg-dark;
                    border-radius:4px;
                    border-color: $theme-bg-darker;
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
                    transition: all 0.2s ease-in-out;
                    i.fa {
                        box-shadow: none;
                        height: 0;
                        width: 24px;
                    }
                    i.fa:hover {
                        background-color: $theme-bg-dark;
                    }
                }
                button {
                    background-color: transparent;
                }
                i.fa {
                    height:50px;
                    width:50px;
                    text-align:center;
                    cursor: pointer;
                    line-height:50px;
                    font-size: 18px;
                    background-color: $theme-bg-dark;
                    border-radius:4px;
                    border-color: $theme-bg-darker;
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
                    transition: all 0.2s ease-in-out;
                }
                label:hover {
                    background-color: $theme-bg-darker;
                }
                input {
                    display: none;
                }
                & input:checked + .submenu {
                    @for $i from 1 through 7 {
                        li:nth-child(#{$i}){
                            opacity:1;
                            top:#{-$i*58}px;
                            transition-delay:#{$i*0.08}s;
                            transform:rotateY(0deg);
                            cursor: pointer;
                        }
                    }
                }
            }
            .submenu{
                list-style-type:none;
                padding:0;
                margin:0;
                li{
                    transition:all ease-in-out 0.5s;
                    z-index:-1;
                    position:absolute;
                    top: 0;
                    right: 0;
                    opacity:0;
                    button{
                        color: #212121;
                        outline: none;
                        padding: none;
                        border: none;
                        &{
                            i.fa{
                                color: $blue-dark-90;
                            }
                            &.facebook {
                                i.fa{
                                    background-color: #3b5999;
                                    color: $white;
                                }
                            }
                            &.linkedin {
                                i.fa {
                                    background-color: #0A66C2;
                                    color: $white;
                                }
                            }
                            &.twitter{
                                i.fa{
                                    background-color: #55acee;
                                    color: $white;
                                }
                            }
                            &.whatsapp{
                                i.fa{
                                    background-color: #25D366;
                                    color: $white;
                                }
                            }
                            &.pinterest{
                                i.fa{
                                    background-color: #e4405f;
                                    color: $white;
                                }
                            }
                            &.copy{
                                i.fa{
                                    background-color: $white;
                                    color: black;
                                }
                            }
                            i.fa:hover {
                                background-color: $theme-bg-dark;
                                color: black;
                            }
                        }
                    }
                }
                @for $i from 1 through 6 {
                    li:nth-child(#{$i}){
                        transform:rotateX(#{$i*45}deg);
                    }
                }
            }
            &.bottomRight{
                bottom:20px;
                right:20px;
            }
            .sm-d {
                display: none;
            }
            .md-d {
                display: block;
            }
        }
    }
}


@media only screen and (max-width: 768px) {
    body {
        grid-template-columns: 1fr;
        grid-template-areas: 'header' 'main' 'article_left' 'footer';
        header#bH {
            padding: 16px;
            align-items: center;
        }
        article#bAl {
            padding-top: 50px;
            .top-insurance-container {
                .top-insurance {
                    .card {
                        h6 {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        main#bM {
            border-radius: 0;
            padding-bottom: 30px;
            section.article-content {
                padding: 0;
                margin-bottom: 0;
                font-size: 16px;
                line-height: 24px;
                .search-container {
                    padding: 20px;
                    margin-bottom: 0;
                    margin-top: 0;
                }
                .box {
                    padding: 0 20px;
                }
                .results-container {
                    .box {
                        padding: 0 20px;
                        .result-card {
                            flex-direction: column;
                            row-gap: 12px;
                            .card-text {
                                h2 {
                                    font-size: 24px;
                                }
                            }
                        }
                        .result-card-opposite {
                            flex-direction: column-reverse;
                        }
                    }
                }
                .recommendation {
                    margin-bottom: 0;
                    .container-cards {
                        .insurance-card {
                            grid-template-columns: 1fr;
                            grid-template-areas: 'card_border' 'thumbnail' 'content';
                            padding: 0;
                            .card-top-border {
                                padding: 4px 0;
                            }
                            .thumbnail {
                                margin-left: auto;
                                padding-top: 10px;
                                height: 120px;
                                img {
                                    height: 120px;
                                }
                            }
                            .content {
                                padding: 20px;
                                .sub-insurance {
                                    grid-template-columns: 1fr 1fr 1fr;
                                }
                            }
                        }
                    }
                }
            }
        }
        section#absolute_assets {
            .share-menu{
                .sm-d {
                    display: block;
                }
                .md-d {
                    display: none;
                }
            }
        }
    }
}