@import "../../../scss/_base";
body {
    display: grid;
    grid-template-columns: 25% 1fr 20%;
    grid-template-areas: 'header header header'
                                        'article_left main article_right'
                                        'footer footer footer';
    background-color: #eeeeee86;
    header#bH {
        grid-area: header;
        display: flex;
        justify-content: center;
        padding: 20px;
        .logo {
            display: flex;
            align-items: center;
            column-gap: 8px;
            height: 20px;
            .logo-icon, .logo-text {
                display: flex;
                align-items: center;
            }
            .logo-icon {
                img {
                    height: 20px;
                }
            }
            .logo-text {
                img {
                    height: 15px;
                }
            }
        }
    }
    article#bAl {
        grid-area: article_left;
        height: 100%;
        padding: 0 10px 50px 20px;
        .a-header {
            position: sticky;
            top: 20px;
            p {
                font-size: 1rem;
                color: #3a445685;
                margin-bottom: 25px;
            }
            ul {
                list-style:circle;
                padding-left: 20px;
                li {
                    margin-bottom: 24px;
                    a {
                        text-decoration: none;
                        color: #3a4456;
                        font-size: 1rem;
                        transition: all 0.25s ease-out;
                    }
                    a:hover {
                        color: #347eff;
                    }
                }
            }
        }
    }
    main#bM {
        grid-area: main;
        background-color: #ffffff;
        border-radius: 20px 20px 0 0;
        padding: 35px 50px;
        min-height: 200vh;
        .pub-date {
            color: $gray-600;
            font-size: small;
        }
        .article-title {
            font-size: 4rem;
            font-weight: 500;
            color: $gray-800;
        }
    }
    article#bAr {
        grid-area: article_right;
        height: 100%;
        padding: 0 10px 50px 20px;
        .a-header {
            p {
                font-size: 1rem;
                color: #3a445685;
                margin-bottom: 25px;
            }
            ul {
                list-style: none;
                display: flex;
                flex-wrap: wrap;
                gap: 8px;
                padding-left: 0;
                li {
                    a {
                        padding: 4px 8px;
                        background-color: #2a3342;
                        text-decoration: none;
                        color: #ffffff;
                        border-radius: 30px;
                        font-size: 0.85rem;
                        transition: all 0.25s ease-out;
                    }
                    a:hover {
                        background-color: #347eff;
                    }
                }
            }
        }
    }
}