@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

*[role=button] {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-decoration: none;
}

body::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  border-radius: 50px;
}

body::-webkit-scrollbar-thumb {
  background-color: #a1c2fa;
  border-radius: 50px;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #4285f4;
}

body footer#bF {
  grid-area: footer;
  padding: 50px 100px 100px 100px;
  background-color: #1a1a1a;
}
body footer#bF .google-ad {
  margin: 0 auto;
  margin-bottom: 50px;
  text-align: center;
  background: #262626;
}
body footer#bF .menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 25px;
  padding-bottom: 80px;
}
body footer#bF .menu .insurance ul, body footer#bF .menu .pages ul {
  list-style: none;
  padding: none;
}
body footer#bF .menu .insurance ul li, body footer#bF .menu .pages ul li {
  margin-bottom: 8px;
}
body footer#bF .menu .insurance ul li a, body footer#bF .menu .pages ul li a {
  opacity: 0.5;
  color: white;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
}
body footer#bF .menu .insurance ul li a:hover, body footer#bF .menu .pages ul li a:hover {
  opacity: 1;
}
body footer#bF .menu .insurance ul .list-head, body footer#bF .menu .pages ul .list-head {
  color: #ffffff;
  font-size: 0.75rem;
  margin-bottom: 16px;
  font-weight: 500;
  letter-spacing: 5px;
  text-transform: uppercase;
}
body footer#bF .bottom-line p {
  text-align: center;
  color: #dbdcde;
}

@media only screen and (max-width: 768px) {
  body footer#bF {
    padding: 50px 25px;
  }
  body footer#bF .menu {
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    gap: 20px;
  }
}
body {
  display: grid;
  grid-template-columns: 1fr 25%;
  grid-template-areas: "header header" "main article" "footer footer";
}
body .google-ad {
  width: 100%;
  height: auto;
  background-color: #f2f2f2;
}
body header {
  grid-area: header;
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: white;
}
body header .logo {
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
  height: 20px;
}
body header .logo img {
  height: 20px;
  cursor: pointer;
  aspect-ratio: attr(height)/attr(width);
}
body main {
  grid-area: main;
  margin-bottom: 100px;
}
body main .main-header {
  padding: 100px;
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body main .main-header h1 {
  font-size: 5vw;
  font-weight: 400;
  line-height: 5vw;
  color: #161a20;
  font-family: poppins, sans-serif;
}
body main .main-header p {
  width: 75%;
  font-size: 1rem;
  line-height: 1.8rem;
  color: #363739;
  margin: 25px 0 50px 0;
}
body main .main-header a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  margin-right: auto;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  transition: all 0.25s ease-in-out;
  padding: 8px 12px;
  border-radius: 50px;
  background-color: #df574b;
  transition: all 0.25s ease-in-out;
}
body main .main-header a i.bi {
  font-size: 0;
  transition: all 0.2s ease-in-out;
}
body main .main-header a:hover {
  background-color: #993027;
  color: rgb(255, 255, 255);
}
body main .main-header a:hover i.bi {
  font-size: 1rem;
  margin-left: 10px;
}
body main .container {
  display: grid;
  grid-template-columns: calc(50% - 25px) calc(50% - 25px);
  grid-template-areas: "ad_top ad_top" "cheader cheader" "leftbox rightbox" "ad_bottom ad_bottom";
  -moz-column-gap: 50px;
       column-gap: 50px;
  row-gap: 25px;
  padding: 0 100px;
  margin-bottom: 50px;
}
body main .container .ad-container-top {
  grid-area: ad_top;
  margin-bottom: 50px;
}
body main .container .ad-container-top .google-ad {
  margin: 0 auto;
  text-align: center;
}
body main .container .c-header {
  grid-area: cheader;
  color: #404040;
  margin-bottom: 25px;
}
body main .container .c-header h3 {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  font-family: poppins, sans-serif;
}
body main .container .right-box {
  grid-area: rightbox;
  padding-top: 150px;
}
body main .container .left-box {
  grid-area: leftbox;
}
body main .container .right-box, body main .container .left-box {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  max-width: 400px;
}
body main .container .right-box .google-ad, body main .container .left-box .google-ad {
  text-align: center;
  margin: 0 auto;
}
body main .container .insurance-card {
  border-radius: 12px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  transition: all 0.25s ease-in-out;
}
body main .container .insurance-card .card-top-border {
  padding: 4px 0;
}
body main .container .insurance-card .border-blue {
  background: #4285f4;
}
body main .container .insurance-card .border-red {
  background: #db4437;
}
body main .container .insurance-card .border-green {
  background: #0f9d58;
}
body main .container .insurance-card .border-yellow {
  background: #f4b400;
}
body main .container .insurance-card .border-orange {
  background: #808080;
}
body main .container .insurance-card .border-purple {
  background: #a1c2fa;
}
body main .container .insurance-card .content {
  padding: 20px 20px 25px 25px;
  transition: all 0.25s ease-in-out;
}
body main .container .insurance-card .content .thumbnail {
  display: flex;
  justify-content: flex-end;
  height: 120px;
  width: 100%;
}
body main .container .insurance-card .content .thumbnail img {
  height: 100%;
  width: auto;
}
body main .container .insurance-card .content h2 {
  font-size: 32px;
  font-weight: 400;
  color: #111;
  margin-bottom: 16px;
  font-family: poppins, sans-serif;
}
body main .container .insurance-card .content p {
  font-size: 16px;
  line-height: 24px;
  text-align: start;
  color: #222;
  margin-bottom: 25px;
}
body main .container .insurance-card .content .sub-insurance {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin-bottom: 25px;
}
body main .container .insurance-card .content .sub-insurance .si-box {
  border: 1px solid #d9e7fd;
  cursor: pointer;
  aspect-ratio: 1/1;
  border-radius: 8px;
  display: grid;
  padding: 6px;
  place-items: center;
  background-color: #ecf3fe;
  transition: all 0.25s ease-in-out;
}
body main .container .insurance-card .content .sub-insurance .si-box span {
  text-align: center;
  color: #262626;
  font-size: 14px;
  line-height: 18px;
  transition: all 0.25s ease-in-out;
}
body main .container .insurance-card .content .sub-insurance .si-box:hover {
  background-color: #4285f4;
  transform: translateY(-5px);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
body main .container .insurance-card .content .sub-insurance .si-box:hover span {
  color: white;
}
body main .container .insurance-card .content a.to-article-btn {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 18px;
  font-weight: 400;
  background-color: #4285f4;
  text-decoration: none;
  color: #fff;
  border-radius: 100px;
  transition: all 0.25s ease-in-out;
}
body main .container .insurance-card .content a.to-article-btn i.bi {
  font-size: 0;
  transition: all 0.2s ease-in-out;
}
body main .container .insurance-card .content a.to-article-btn:hover {
  background-color: #356ac3;
}
body main .container .insurance-card:hover {
  transform: translateY(-10px);
}
body main .container .insurance-card:hover a.to-article-btn i.bi {
  font-size: 1rem;
  margin-left: 10px;
}
body main .container .ad-container-bottom {
  grid-area: ad_bottom;
  margin-top: 50px;
}
body main .container .ad-container-bottom .google-ad {
  margin: 0 auto;
  text-align: center;
}
body main .asfdFf2a {
  position: absolute;
  top: 100px;
  right: 25%;
  opacity: 0.5;
  z-index: -5;
  aspect-ratio: attr(height)/attr(width);
}
body article {
  grid-area: article;
  height: 100%;
  padding: 50px 25px 150px 0;
}
body article .a-header p {
  font-size: 1rem;
  color: #404040;
  margin-bottom: 25px;
}
body article .a-header ul {
  list-style: circle;
  padding-left: 20px;
}
body article .a-header ul li {
  margin-bottom: 24px;
}
body article .a-header ul li a {
  text-decoration: none;
  color: #1a1a1a;
  font-size: 1rem;
  transition: all 0.25s ease-out;
}
body article .a-header ul li a:hover {
  color: #4285f4;
}
body article .ad-container {
  position: sticky;
  top: 20px;
}
body article .ad-container .google-ad {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
}

@media only screen and (max-width: 768px) {
  body {
    grid-template-columns: 1fr;
    grid-template-areas: "header" "main" "article" "footer";
  }
  body header {
    padding: 25px 10px;
  }
  body header .logo {
    height: 24px;
  }
  body header .logo img {
    height: 24px;
  }
  body main {
    margin-bottom: 50px;
  }
  body main .main-header {
    padding: 0 25px;
    text-align: center;
    height: calc(100vh - 120px);
    margin-bottom: 75px;
  }
  body main .main-header h1 {
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 500;
    margin-bottom: 12px;
  }
  body main .main-header p {
    width: 100%;
    font-size: 1rem;
    line-height: 1.6rem;
  }
  body main .main-header a {
    font-size: 1rem;
    padding: 8px 16px;
  }
  body main .container {
    grid-template-columns: 1fr;
    grid-template-areas: "cheader" "leftbox" "rightbox";
    row-gap: 25px;
    -moz-column-gap: 0;
         column-gap: 0;
    padding: 0 25px;
  }
  body main .container .c-header {
    width: 100%;
    top: 0;
    margin-bottom: 0;
  }
  body main .container .c-header h3 {
    font-size: 1.5rem;
    text-align: start;
  }
  body main .container .right-box {
    padding-top: 50px;
  }
  body main .container .right-box, body main .container .left-box {
    row-gap: 75px;
  }
  body main .container .insurance-card .content {
    padding: 20px 20px 30px 25px;
  }
  body main .container .insurance-card .content h2 {
    font-size: 2.4rem;
    margin-bottom: 20px;
  }
  body main .container .insurance-card .content p {
    font-size: 1.1rem;
    line-height: 1.8rem;
    margin-bottom: 25px;
  }
  body main .container .insurance-card .content .sub-insurance {
    gap: 10px;
    margin-bottom: 25px;
  }
  body main .container .insurance-card .content .sub-insurance .si-box span {
    font-size: 0.75rem;
  }
  body main .container .insurance-card .content a.to-article-btn {
    font-size: 1rem;
  }
  body main .asfdFf2a {
    top: 50px;
    right: 0px;
    height: 100px;
  }
  body article {
    padding: 0 25px;
    margin-bottom: 50px;
  }
  body article .a-header {
    position: static;
  }
}/*# sourceMappingURL=index.css.map */